body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  .container {
    width: 80%;
    margin: 20px auto;
    max-width: 800px;
    overflow-y: auto;
    max-height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }

  h1 {
    text-align: center;
  }

  .log {
    margin-bottom: 10px;
  }

  button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
.ss{
  color:blue;
}